= render 'articles/shared/header'

= form_with model: @article, method: :post, id: 'new_article', class: 'new_article', local: true do |f|
  .fields
    .field
      = f.label :title, 'タイトル'
      %br
      = f.text_field :title, class:"text_field"
    .field
      = f.label :image, '画像'
      %br
      = f.file_field :image
    .field
      = f.label :detail, '記事'
      %br
      = f.text_area :detail, class:"text_area"
    .field
      = f.submit '保存する', class: "btn btn-primary"